<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>The Home Page
        <%= 4 + 5 + 1 %>
    </h1>
    <p>lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae fugit aut, iure quibusdam, doloribus fuga repellendus aliquam quos, impedit culpa? Recusandae ea consequuntur beatae iste repudiandae eaque reiciendis
        totam.
    </p>
    <h1>your random number is
        <%= num %>
    </h1>
    <% if (num % 2 === 0) { %>
        <h2>it is even number</h2>
        <% } else { %>
            <h2>it is odd number</h2>
            <% } %>
</body>

</html>